.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 100px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    max-width: 1080px;
   
   
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.offers-left h1{
    color: #171717;
    font-size: 50px;
    font-weight: 800;
    justify-content: center;
   
}

.offers-left p{
    color: grey;
     text-align: left;
    font-weight: 800;
    font-size: 16px;
    font-style: bold;
    
 
}
.offers-left h5{
    margin-top: 5px;
    color: #777;
    text-align: left;
   font-weight: 800;
   font-size: 14px;
   font-style: bold;
}
.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
    overflow: hidden;
}
.offers-right img{
    height: 60%;
    width: 60%;
}